body{
    box-sizing: border-box;
    margin: 0;
    background-size: cover;
    background-image: url("./images/sky.jpg");
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    min-height: 100vh;
    color: azure;
   }

.countdown-container{
    font-weight: bold;
    color: azure;
    display: flex;
    flex-wrap: wrap;
   object-position: center;
   
}

h1{
    font-size: 4rem;
    font-weight: normal;
}

.text{
    font-size: 2rem;
    line-height: 1;
    margin: 1 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1rem;
}